{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'imgs/logo.png' %}" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Source Code Secrets Detection</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Scan open source repositories to uncover secrets in the latest as well as the past commits in the repositories. Secrets include API Keys, Private Keys, Certificates, Passwords and so on.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3">Learn More</button>
        <a type="button" href="/scans/listscans" class="btn btn-primary btn-lg px-4">Start Analysis</a>
      </div>
    </div>
  </div>
{% endblock content %}