{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container py-5">
    <div class="card p-4">
        <div class="row">
            <div class="col-10">
                <h3> {{ scan_details.name }} </h3>
                <p>{{ scan_details.repositoryurl }}</p>
                {% if scan_details.state == "New" %}
                <span class="badge bg-danger">{{ scan_details.state }}</span>
                {% elif scan_details.state == "In Progress" %}
                <span class="badge bg-warning">{{ scan_details.state }}</span>
                {% else %}
                <span class="badge bg-success">{{ scan_details.state }}</span>
                {% endif %}
            </div>
            <div class="col-2"><a href="/scans/triggerscan/{{ scan_details.analysisid }}" class="btn btn-primary">Trigger Scan</a></div>
        </div>
    </div>

    
    <div class="row py-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Vuln ID</th>
                <th scope="col">File Path</th>
                <th scope="col">Line No.</th>
                <th scope="col">Snippet</th>
                <th scope="col">Commit ID</th>
                <th scope="col">Category</th>
                <th scope="col">Vulnerability Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for vuln in scan_vulns %}
              <tr>
                <td scope="row">{{ vuln.vulnerabilityid|slice:":8" }}</th>
                <td><a href="{{ scan_details.repositoryurl }}/blob/{{ vuln.commitid }}/{{ vuln.filename }}#L{{ vuln.lineofcode }}" rel="noopener noreferrer" target="_blank">{{ vuln.filename|slice:":20" }}...</a></td>
                <td>{{ vuln.lineofcode }}</td>
                <td>{{ vuln.snippet|slice:":30" }}</td>
                <td>{{ vuln.commitid|slice:":10" }}</td>
                <td>{{ vuln.category }}</td>
                <td>
                    {% if vuln.verificationstatus == 'VV' %}
                    <span class="badge bg-danger">{{ vuln.get_verificationstatus_display }}</span>
                    {% elif vuln.verificationstatus == 'UV' %}
                    <span class="badge bg-warning text-dark">{{ vuln.get_verificationstatus_display }}</span>
                    {% elif vuln.verificationstatus == 'VF' %}
                    <span class="badge bg-success">{{ vuln.get_verificationstatus_display }}</span>
                    {% endif %}
                </td>
                <td>
                    <a href="/scans/detailedscan/{{ scan_details.analysisid }}/verifyvulnerability/{{ vuln.vulnerabilityid }}/" class="btn btn-outline-primary btn-small bi bi-search"></a>
                    <a class="bi bi-x-circle btn btn-outline-success btn-small"></a>
                    <i class="bi bi-bug btn btn-outline-danger btn-small"></i>
                    <i class="bi bi-git"></i>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>

{% endblock content %}