{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container py-5">
    <div class="py-5">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h4 class="">Sign In</h4>
                </div>
                <form action="/account/login/" method="post">
                    {% csrf_token %}
                    <div class="p-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <button class="btn btn-primary text-center mt-2" type="submit">
                            Login
                        </button>
                        <p class="text-center mt-5">Don't have an account?
                            <span class="text-primary">Sign Up</span>
                        </p>
                        <p class="text-center text-primary">Forgot your password?</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}